.hero {
   min-height: 90vh;
}

.hero #hero__background {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   background-image: url('../../assets/images/coding1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
   background-position: center;
}

.hero .container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   min-height: 90vh;
}

@media screen and (max-width: 500px) {
   .hero .container .hero__intro h1 {
      font-size: 1.5rem;
   }
}

.hero .container .hero__intro .btn-neon {
   position: absolute;
   right: 10vw;
   bottom: 10vh;
}

.hero .hero__intro h1 {
   font-family: 'Fira Code', monospace;
}

.hero span.yellow {
   color: #e2d70b;
}
.hero span.light-yellow {
   color: #dcca86;
}
.hero span.light-blue {
   color: #68cdfe;
}
.hero span.blue {
   color: #569cd6;
}
.hero span.pink {
   color: #c270c5;
}
