.submitMessage {
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: hsl(0, 0%, 13%);
   padding: 2rem 0rem;
   border-radius: 1em;
   width: 320px;
   min-height: 400px;
   color: white;
   font-family: var(--raleway-light);
   text-align: center;
}

.submitMessage h4 {
   color: var(--green-light);
   font-weight: 300;
}
