.addProjectForm {
   font-size: 1.3rem;
   background: hsl(0, 0%, 13%);
   padding: 2rem;
   border-radius: 1em;
   width: 320px;
}

.addProjectForm .btn:disabled {
   background: var(--blue-5);
}

.addProjectForm .btn:disabled:hover,
.addProjectForm .btn[disabled]:hover {
   color: lightslategray;
   pointer-events: none;
}
