.about {
   min-height: 90vh;
}

.about #about__background {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url('../../assets/images/coding1.jpg');
   z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.about .container {
   display: flex;
   flex-direction: column;
   padding: 0 30vw;
   justify-content: flex-start;
   align-items: center;
   height: 90vh;
}

.about .container p {
   font-size: 1.3rem;
}

.about .container .btn {
   margin: 2em 0em;
}

@media screen and (max-width: 1000px) {
   .about .container {
      padding: 0 20vw;
   }
}
@media screen and (max-width: 800px) {
   .about .container {
      padding: 0 10vw;
   }
}
@media screen and (max-width: 600px) {
   .about .container {
      padding: 0 5vw;
   }
}
