.projects {
   min-height: 90vh;
}

#projects__background {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url('../../../assets/images/projects.jpg');
   z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.projects .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   min-height: 90vh;
}

/* ---------------- Search Box ---------- */
.search-box {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-box i {
   color: black;
   margin-left: -1.3rem;
}

.search-box input {
   width: 34%;
   padding-left: 0.5em;
}

@media screen and (max-width: 600px) {
   .search-box input {
      width: 80%;
   }
}

/* --------- Grid stlyling ------- */

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 1em;
   justify-items: center;
   align-items: center;
   margin-top: 8rem;
   margin-bottom: 2rem;
   align-items: center;
}

@media screen and (max-width: 920px) {
   .cards {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width: 600px) {
   .cards {
      grid-template-columns: 1fr;
   }
}

.card {
   position: relative;
   overflow: hidden;
   min-width: 280px;
   max-width: 400px;
   border-radius: 0.3em;
}

.card p,
.card i {
   font-size: 1rem;
   color: hsl(0, 0%, 87%);
   margin: 0.2em 0.5em;
}

.card p.timestamp {
   position: absolute;
   width: 110%;
   bottom: 0rem;
   background: hsla(0, 0%, 0%, 0.55);
   display: inline;
   margin: 0 auto;
   transform: translate(-50%);
}

.card .card__img-overlay i {
   font-size: 2rem;
}

.card .card__img {
   display: block;
   width: 100%;
   transition: blur 300ms ease-in;
   max-height: 100%;
}

.blur_img {
   filter: blur(5px);
}

.card .card__img-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   opacity: 0;
   transition: opacity 300ms ease-in;
}

.card__img-overlay > * {
   transform: translateY(20px);
   transition: transform 300ms ease-in;
}

.card .card__img-overlay:hover,
.card .card__img-overlay:focus-within {
   opacity: 1;
}

.card__img-overlay:hover > *,
.card__img-overlay:focus-within > * {
   transform: translateY(0);
}

.card .card__title {
   text-transform: uppercase;
   margin: 1em 0em;
}
.card .card__tags {
   padding: 0em 0.8em;
}

.card .card__links i {
   cursor: pointer;
   margin-top: 0.3em;
   transition: all 0.3 ease-in;
}

.card .card__links i:hover {
   transform: scale(0.9);
   opacity: 0.8;
}
.card .card__links i + i {
   margin-left: 0.3em;
}

.projects #addNewProjectBtn {
   margin: 5rem 0rem;
   cursor: pointer;
}

/* -------------- Styling for CSS loader ------------- */

.lds-facebook {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
   align-self: center;
   justify-self: center;
   grid-column: 1/4;
}
.lds-facebook div {
   display: inline-block;
   position: absolute;
   left: 8px;
   width: 16px;
   background: #fff;
   animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
   left: 8px;
   animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
   left: 32px;
   animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
   left: 56px;
   animation-delay: 0;
}
@keyframes lds-facebook {
   0% {
      top: 8px;
      height: 64px;
   }
   50%,
   100% {
      top: 24px;
      height: 32px;
   }
}
