*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

:root {
   /* --------------------------------------------
   --------------- Color Palette ------------------
   ---------------------------------------------- */

   --color-dark: hsl(0, 0%, 0%);
   --color-light: hsl(0, 0%, 100%);

   /* ------------- For background and background gradients --- Shades of violet ------------- */
   --violet-1: hsla(262, 100%, 8%, 1);
   --violet-2: hsla(271, 100%, 14%, 1);
   --violet-3: hsla(271, 85%, 23%, 1);
   --violet-4: hsla(270, 73%, 35%, 1);
   --violet-5: hsla(272, 63%, 46%, 1);
   --violet-6: hsla(273, 68%, 59%, 1);
   --violet-7: hsla(274, 100%, 75%, 1);
   --violet-8: hsla(278, 100%, 83%, 1);

   /* --------------- Primary color --- Shades of blue -------------------- */
   --blue-1: hsla(239, 94%, 19%, 1);
   --blue-2: hsla(201, 100%, 36%, 1);
   --blue-3: hsla(190, 100%, 42%, 1);
   --blue-4: hsla(189, 75%, 75%, 1);
   --blue-5: hsla(190, 77%, 88%, 1);

   /* ------------- Secondary color to compliment blue --- Shades of pink --------------- */
   --pink-1: hsla(342, 100%, 66%, 1);
   --pink-2: hsla(342, 100%, 70%, 1);
   --pink-3: hsla(342, 100%, 74%, 1);
   --pink-4: hsla(341, 97%, 88%, 1);
   --pink-5: hsla(343, 100%, 96%, 1);

   /* ----------------------------------------
   ---------------- Typography -------------- 
   ------------------------------------------*/

   --bebas-neue: 'Bebas Neue', cursive; /* Only one font weight is available */
   --overpass: 'Overpass', sans-serif; /* All the font weights are available */
   --pt-serif: 'PT Serif', serif;

   /* --------- Sizes ----------- */
   --super-heading: 5.5rem;
   --h1: 3.4rem;
   --h2: 2.75rem;
   --h3: 2.1rem;
   --h4: 1.7rem;
}

html,
body {
   font-family: 'PT Serif', serif;
   color: var(--color-light);
   font-size: 0.854vw;
   scroll-behavior: smooth;
}

/* ---- Media Queries to control the font size ------- */

@media screen and (max-width: 1024px) {
   html,
   body {
      font-size: 12px;
   }
}

@media screen and (min-width: 1700px) {
   html,
   body {
      font-size: 20px;
   }
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* ----------------------------------------------------
------------------------ Global Styling --------------
------------------------------------------------------ */

/* ------------- Heading & Paragraphs ----------- */

h1 {
   font-size: var(--h1);
}

h2 {
   font-size: var(--h2);
}

h3 {
   font-size: var(--h3);
}

h4 {
   font-size: var(--h4);
}

/* ---------- Form & Form-Fields --------------- */

form {
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 var(--form-padding, 5%);
   width: var(--form-width, 100%);
}

/* ------------ Just to make the input fields a tad beautiful ----------- */

input,
textarea {
   border: none;
   border-radius: 0.2em;
   padding: 0.5em 0.5em;
   font-family: var(--pt-serif);
   width: 100%;
}

/* --------- Gives margin-top to every child except the first one --------- */

form * + * {
   margin-top: 1em;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
   border: none;
   outline: none;
}

/* --------------- Links & Buttons & Lists -------------- */

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover,
a:focus,
button:hover,
button:focus {
   outline: none;
   cursor: pointer;
   color: var(--blue-5);
}

/* -----------------------------------------------------
------------------------ Utility Classes --------------- 
-------------------------------------------------------*/

/* -------- Container is to keep content from expading horizontally --------- */

.container {
   display: flow-root;
   max-width: 1366px;
   min-width: 320px;
   height: 100%;
   padding: 0 5vw;
}

.background__overlay {
   width: 100%;
   height: 100%;
   background: var(--violet-1);
   opacity: 0.7;
}

@media screen and (min-width: 1400px) {
   .container {
      padding: 0;
      margin: 0 auto;
   }
}

/* ------------- Buttons & Links ------------- */

.btn {
   font-size: var(--btn-size, 1rem);
   padding: var(--btn-padding-x, 0.3em) var(--btn-padding-y, 0.8em);
   background: var(--btn-background, var(--color-light));
   color: var(--btn-text-color, var(--color-dark));
   text-transform: uppercase;
   transition: all 100ms linear;
   border-radius: 0.2em;
   border: 0.01em solid var(--btn-background, --color-light);
}

.btn-sm {
   --btn-size: 0.8rem;
}

.btn-lg {
   --btn-size: 1.3rem;
}

.btn-xs {
   --btn-size: 2.1rem;
}

.btn-fullWidth {
   width: 100%;
}

.btn-primary {
   --btn-background: var(--blue-3);
   --btn-text-color: var(--color-light);
   border: currentColor;
   color: var(--color-dark);
}

.btn-secondary {
   --btn-background: var(--pink-2);
   --btn-text-color: var(--color-light);
   border: currentColor;
   color: var(--color-dark);
}

.btn-ghost {
   color: var(--color-light);
   background: none;
   border: 0.01em solid currentColor;
}

.btn-neon {
   --btn-text-color: var(--pink-1);
   --btn-background: none;
   position: relative;
   border: var(--pink-1) 0.1em solid;
   text-shadow: 0 0 0.1em hsla(0, 0%, 100%, 0.55), 0 0 0.5em currentColor;
   box-shadow: 0 0 0.3em var(--pink-1), inset 0 0 0.5em var(--pink-1);
   text-transform: uppercase;
   transition: color, background-color, text-shadow 100ms linear;
   animation: float 4s ease-in-out infinite;
}

.btn-neon::before {
   content: '';
   position: absolute;
   background: var(--pink-1);
   top: 1.8em;
   left: 0;
   height: 100%;
   width: 100%;
   transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
   filter: blur(1em);
   opacity: 0.7;
   pointer-events: none;
   animation: floatShadow 4s ease-in-out infinite;
}

.btn-neon::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   box-shadow: 0 0 3em 0.3em var(--pink-1);
   opacity: 0;
   transition: opacity 100ms linear;
}

/* -------- Button Hover & Focus Effects --------- */

.btn:hover,
.btn:focus {
   background: var(--btn-background, var(--color-dark));
   color: var(--btn-text-color, var(--color-light));
   border: 0.01em solid currentColor;
}

.btn-primary:hover,
.btn-primary:focus {
   --btn-background: var(--color-dark);
   --btn-text-color: var(--blue-3);
   box-shadow: inset 0 0 0.3em 0.05em var(--blue-3),
      0 0 0.1em 0.05em var(--blue-3);
}

.btn-secondary:hover,
.btn-secondary:focus {
   --btn-background: var(--color-dark);
   --btn-text-color: var(--pink-2);
   box-shadow: inset 0 0 0.3em 0.05em var(--pink-2),
      0 0 0.1em 0.05em var(--pink-2);
}

.btn-ghost:hover,
.btn-ghost:focus {
   background: var(--color-light);
   color: var(--color-dark);
}

.btn.btn-neon:hover,
.btn.btn-neon:focus {
   background: var(--pink-1);
   color: var(--violet-1);
   border: var(--pink-1);
   text-shadow: none;
   border: 0.1em solid var(--pink-1);
}

.btn-neon:hover::after,
.btn-neon:focus::after {
   opacity: 1;
}

.btn-neon:hover::before,
.btn-neon:focus::before {
   opacity: 1;
}

/* ------------------ Animations ------------------ */

@keyframes float {
   0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
   }
   50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-1em);
   }
   100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
   }
}

@keyframes floatShadow {
   0% {
      transform: perspective(1em) rotateX(40deg) scale(1, 0.35) translatey(0px);
      filter: blur(1em);
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      top: 1.8em;
   }
   50% {
      transform: perspective(1em) rotateX(40deg) scale(1, 0.35)
         translatey(-20px);
      filter: blur(1em);
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      top: 2.8em;
   }
   100% {
      transform: perspective(1em) rotateX(40deg) scale(1, 0.35) translatey(0px);
      filter: blur(1em);
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      top: 1.8em;
   }
}

/* ----------------- Main styling ---------------- */
